<html>
    <head>
        <link href="./libs/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="./css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="inner">
            <h2 class="logo header_text">Blog<span class="green">.</span></h2>
            <h3 class="sign_up header_text">log in</h3>
            </div>
        </header>
        <div id="main">
            <div class="inner">

            </div>
        </div>
        <footer>
            <div class="inner">

            </div>
        </footer>
    </body>
</html>